# .gitignore
# Created Thu Sep  6 13:49:08 AKDT 2018
# by Raymond E. Marcil <rmarcil@gci.com>
#
# Links
# =====
# gitignore - Specifies intentionally untracked files to ignore
# https://git-scm.com/docs/gitignore
#
all-grain-brewing/
apache/
backup/
bind/
chroot/
create-searchable-pdfs/
ctan/
cvs-branches/
dev/
examples/
filexfer/
lang/
latex-examples/
lions/
packages/
svn-to-git/
template/
trading/
virtualbox/
