#.gitignore
# Created Mon Nov 19 09:22:31 AKDT 2018
# by Raymond E. Marcil <marcilr@gmail.com>
#
# Files for git to ignore
#
.gitignore
all-grain-brewing/
apache2/
awk-n-sed/
awstats/
backup/
bind/
chroot/
create-searchable-pdfs/
ctan/
cvs-branches/
dev/
examples/
filexfer/
foo/
lang/
latex/
latex-to-word/
lions/
packages/
pdf/
resume/
svn-to-git/
template/
virtualbox-scripting/
virtualbox/
